In [1]:
import pandas as pd
data = pd.read_csv('icc_wc_23_bat.csv')

data.head()

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0

In [2]:
data.head(12)

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0
5,Suryakumar Yadav,c Mendis b Madushanka,12,9,13,2,0,133.33,India,Sri Lanka,1,0
6,Ravindra Jadeja,run out (Samarawickrama/Mendis),35,24,41,1,1,145.83,India,Sri Lanka,1,0
7,Mohammed Shami,run out (Mendis),2,4,11,0,0,50.00,India,Sri Lanka,1,0
8,Jasprit Bumrah,not out,1,1,1,0,0,100.00,India,Sri Lanka,1,0
9,Fakhar Zaman,c & b van Beek,12,15,14,3,0,80.00,Pakistan,Netherlands,1,1
10,Imam-ul-Haq,c Dutt b van Meekeren,15,19,40,2,0,78.94,Pakistan,Netherlands,1,1
11,Babar Azam,c Saqib Zulfiqar b Ackermann,5,18,20,0,0,27.77,Pakistan,Netherlands,1,1

In [3]:
data.tail()

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
870,Iftikhar Ahmed,c Malan b Ali,3,5,8,0,0,60.00,Pakistan,England,2,47
871,Shadab Khan,b Rashid,4,7,4,1,0,57.14,Pakistan,England,2,47
872,Shaheen Shah Afridi,lbw b Atkinson,25,23,23,3,1,108.69,Pakistan,England,2,47
873,Mohammad Wasim,not out,16,14,33,2,1,114.28,Pakistan,England,2,47
874,Haris Rauf,c Stokes b Woakes,35,23,27,3,3,152.17,Pakistan,England,2,47

In [4]:
data.shape

(875, 12)

In [5]:
if 5 > 2:
    print("five is greater than 2")

five is greater than 2

In [6]:
sports = ["cricket","hockey","football"]
x=y=z=sports
print(x)
print(y)
print(z)

['cricket', 'hockey', 'football']
['cricket', 'hockey', 'football']
['cricket', 'hockey', 'football']

In [7]:
x = "Python "
y = "is "
z = "awesome"
print(x, y, z)

Python  is  awesome

In [8]:
x = 21
y = 34
print(x+y)
print(x-y)
print(x*y)
print(x/y)

55
-13
714
0.6176470588235294

In [9]:
x = 5
y = "bhargav"
print(x, y)

5 bhargav

In [10]:
x = "bhargav"

def myfunc():
    print("my name is " + x)
    
myfunc()

my name is bhargav

In [11]:
x = "bhargav"

def myfunc():
    x = "patel"
    print("my name is "+ x)
myfunc()

print("my name is "+ x)

my name is patel
my name is bhargav

In [12]:
def myfunc():
    global x
    x = "patel"
    print(x)
    
myfunc()

print(x)

patel
patel

In [13]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [14]:
x = 5
y = "bhargav"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [15]:
import random
print(random.randrange(1, 100))

64

In [16]:
x = "bhargav"
print(x[2])
print(len(x))

a
7

In [17]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [18]:
txt = "The best things in life are free!"
print("best" in txt)

True

In [19]:
txt = "The best things in life are free!"
if "best" in txt:
    print("yes, 'best' is present")

yes, 'best' is present

In [20]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [21]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [22]:
#slicing
b = "Hello, World!"
print(b[2:5])

llo

In [23]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [24]:
#remove white space
a = "   Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [25]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [26]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [27]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [28]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [29]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [30]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [31]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [32]:
print(bool("Hello"))
print(bool(15))

True
True

In [33]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [34]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [35]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

['cherry', 'orange', 'kiwi']

In [36]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [37]:
#To change the value of a specific item, refer to the index number:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [41]:
#To add an item to the end of the list, use the append() method:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [42]:
#To insert a list item at a specified index, use the insert() method.
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [43]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [46]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [47]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [48]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [49]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [50]:
import pandas as pd
import numpy as np
data = pd.read_csv('deliveries.csv')
data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'deliveries.csv'

In [ ]:
data.shape

In [ ]:
data

In [ ]:
data.isnull()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.fillna(0,inplace=True)

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('deliveries.csv')
df = pd.DataFrame(data)
batsmanname = df['batsman']
battingteamname = df['batting_team']
fig = plt.figure(figsize =(10, 7))
plt.bar(batsmanname[0:10], battingteamname[0:10])
plt.show()

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('inpatientCharges.csv')
data.head()

In [ ]:
data.shape

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('inpatientCharges.csv')
df = pd.DataFrame(data)
name = df['Provider Name']
city = df['Total Discharges ']
fig = plt.figure(figsize =(10, 7))
plt.bar(name[0:10], city[0:10])
plt.show()

In [ ]:
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
data.head()

In [ ]:
data.shape

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.bar(df['year'], df['price'], color='blue')
plt.xlabel('Year')
plt.ylabel('Price')
plt.title('Car Prices by Year')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.bar(df['year'], df['price'], color='blue')
plt.xlabel('Year')
plt.ylabel('Price')
plt.title('Car Prices by Year')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.bar(df['model'], df['price'], color='blue')
plt.xlabel('price')
plt.ylabel('model')
plt.title('Car model and their Prices by Year')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
average_engine_by_fuel = df.groupby('fuel')['vol_engine'].mean()
plt.figure(figsize=(10, 6))
average_engine_by_fuel.plot(kind='bar', color='lightgreen')
plt.title('Average Engine Volume by Fuel Type')
plt.xlabel('Fuel Types')
plt.ylabel('Average Engine Volume')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
total_cars_by_province = df['province'].value_counts()
plt.figure(figsize=(10, 6))
total_cars_by_province.plot(kind='bar', color='coral')
plt.title('Total Number of Cars by Province')
plt.xlabel('Provinces')
plt.ylabel('Total Number of Cars')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.hist(df['price'], bins=20, color='salmon', edgecolor='black')
plt.title('Distribution of Car Prices')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.hist(df['mileage'], bins=20, color='lightblue', edgecolor='black')
plt.title('Distribution of Car Mileage')
plt.xlabel('Mileage')
plt.ylabel('Frequency')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.hist(df['vol_engine'], bins=20, color='lightgreen', edgecolor='black')
plt.title('Distribution of Engine Volume')
plt.xlabel('Engine Volume')
plt.ylabel('Frequency')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
plt.hist(df['year'], bins=20, color='green', edgecolor='black')
plt.title('Distribution of Car Years')
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
numerical_columns = ['year', 'mileage', 'vol_engine', 'price']


fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(14, 10))
fig.suptitle('Histograms for Numerical Columns', fontsize=16)

for i, column in enumerate(numerical_columns):
    row = i // 2
    col = i % 2
    axes[row, col].hist(df[column], bins=20, color='skyblue', edgecolor='black')
    axes[row, col].set_title(f'Distribution of {column.capitalize()}')
    axes[row, col].set_xlabel(column.capitalize())
    axes[row, col].set_ylabel('Frequency')


plt.tight_layout(rect=[0, 0.03, 1, 0.95])
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(50,20))
sns.histplot(data, bins=30, kde=True, color='lightblue', edgecolor='red', element='step')
plt.xlable('Values')
plt.ylable('Frequency')
plt.title('Basic Histogram')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
plt.figure(figsize=(10, 6))
plt.scatter(df['vol_engine'], df['price'], color='salmon', edgecolor='black', alpha=0.8)
plt.title('Scatter Plot: Engine Volume vs Price')
plt.xlabel('Engine Volume')
plt.ylabel('Price')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
plt.figure(figsize=(10, 6))
plt.scatter(df['year'], df['price'], color='green', edgecolor='black', alpha=0.8)
plt.title('Scatter Plot: Year vs Price')
plt.xlabel('Year')
plt.ylabel('Price')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
plt.figure(figsize=(10, 6))
plt.scatter(df['mileage'], df['vol_engine'], color='orange', edgecolor='black', alpha=0.8)
plt.title('Scatter Plot: Mileage vs Engine Volume')
plt.xlabel('Mileage')
plt.ylabel('Engine Volume')
plt.show()

In [57]:
pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\bhargav\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (2.0.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (1.24.3)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (3.7.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (4.65.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (1.11.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (3.1.2)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\bhargav\anaconda3\lib\site-packages (from sweetviz) (6.1.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\bhargav\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bhargav\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bhargav\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bhargav\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2023.3)
Requirement already satisfied: colorama in c:\users\bhargav\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\bhargav\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pandas as pd
import sweetviz

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
numerical_columns = ['year', 'mileage', 'vol_engine', 'price']
correlation_matrix = df[numerical_columns].corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=.5)
plt.title('Correlation Heatmap for Numerical Columns')
plt.show()

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.05, random_state=0)

In [ ]:
import matplotlib.pyplot as plt

x = [5,7,8,7,2,17,2,9,4,11,12,9,6]
y = [99,86,87,88,111,86,103,87,94,78,77,85,86]

plt.scatter(x, y)
plt.show()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Assuming you have a DataFrame named 'df' with your dataset
# Encode categorical variables
label_encoder = LabelEncoder()
df['mark'] = label_encoder.fit_transform(df['mark'])
df['model'] = label_encoder.fit_transform(df['model'])
df['generation_name'] = label_encoder.fit_transform(df['generation_name'])
df['fuel'] = label_encoder.fit_transform(df['fuel'])
df['city'] = label_encoder.fit_transform(df['city'])
df['province'] = label_encoder.fit_transform(df['province'])

# Select features and target variable
X = df[['mark', 'model', 'generation_name', 'year', 'mileage', 'vol_engine', 'fuel', 'city', 'province']]
y = df['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)

# Print the coefficients and performance metrics

print('Intercept:', model.intercept_)

print('R-squared:', r2)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

label_encoder = LabelEncoder()
df['fuel'] = label_encoder.fit_transform(df['fuel'])
df['city'] = label_encoder.fit_transform(df['city'])
df['province'] = label_encoder.fit_transform(df['province'])

# Selecting relevant features
features = ['year', 'mileage', 'vol_engine', 'fuel', 'city', 'province', 'price']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df[features], df['price'], test_size=0.2, random_state=42)

# Creating and training the logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Evaluating the model on the test set
accuracy = model.score(X_test, y_test)
print(f"Accuracy: {accuracy}")

# You can also use the trained model to make predictions
# predictions = model.predict(X_test)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, classification_report
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Features and target variable
X = df[['mark', 'model', 'generation_name', 'year', 'mileage', 'vol_engine', 'city', 'province']]
y = df['fuel']

# Convert categorical features to numerical using CountVectorizer
vectorizer = CountVectorizer()
X_vectorized = vectorizer.fit_transform(X.astype(str).agg(' '.join, axis=1))

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_vectorized, y, test_size=0.2, random_state=42)

# Train the Naive Bayes classifier
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(classification_rep)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier  # Import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, classification_report
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Separate features and target variable
X = df[['year', 'mileage', 'vol_engine']]  # Add other relevant features as needed
y = df['generation_name']  # Assuming 'generation_name' is the target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

# Print the results
print(f'Accuracy: {accuracy}')
print('Classification Report:\n', classification_report_str)

In [ ]:
print(df.isna().sum())

In [ ]:
df = df.dropna()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier  # Import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, classification_report
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Separate features and target variable
X = df[['year', 'mileage', 'vol_engine']]  # Add other relevant features as needed
y = df['generation_name']  # Assuming 'generation_name' is the target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

# Print the results
print(f'Accuracy: {accuracy}')
print('Classification Report:\n', classification_report_str)

In [ ]:
data.shape

In [ ]:
data

In [ ]:
data.isnull()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.fillna(0,inplace=True)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score, classification_report 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, classification_report
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Separate features and target variable
X = df[['year', 'mileage', 'vol_engine']]  # Add other relevant features as needed
y = df['generation_name']  # Assuming 'generation_name' is the target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

# Print the results
print(f'Accuracy: {accuracy}')
print('Classification Report:\n', classification_report_str)

In [ ]:
print(df.isna().sum())

In [ ]:
df = df.dropna()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Separate features and target variable
X = df[['year', 'mileage', 'vol_engine']]  # Add other relevant features as needed
y = df['generation_name']  # Assuming 'generation_name' is the target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

In [ ]:
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
df.isnull()

In [ ]:
data.isnull()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.fillna(0,inplace=True)

In [ ]:
data

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from scipy.stats import randint
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Separate features and target variable
X = df[['year', 'mileage', 'vol_engine']]  # Add other relevant features as needed
y = df['generation_name']  # Assuming 'generation_name' is the target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

In [ ]:
from sklearn import tree
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
df['mark'] = pd.factorize(df['mark'])[0]
df['model'] = pd.factorize(df['model'])[0]
df['generation_name'] = pd.factorize(df['generation_name'])[0]
df['city'] = pd.factorize(df['city'])[0]
df['province'] = pd.factorize(df['province'])[0]

# Define features and target
X = df[['mark', 'model', 'generation_name', 'year', 'mileage', 'vol_engine', 'city', 'province', 'price']]
y = df['fuel']

# Create decision tree model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

# Visualize the decision tree (optional)
# You can use graphviz to visualize the decision tree if needed

# Make predictions (example)
new_data = pd.DataFrame({
    'mark': ['Toyota'],
    'model': ['Camry'],
    'generation_name': ['X'],
    'year': [2019],
    'mileage': [30000],
    'vol_engine': [2.5],
    'city': ['CityA'],
    'province': ['Province1'],
    'price': [24000]
})

new_data['mark'] = pd.factorize(new_data['mark'])[0]
new_data['model'] = pd.factorize(new_data['model'])[0]
new_data['generation_name'] = pd.factorize(new_data['generation_name'])[0]
new_data['city'] = pd.factorize(new_data['city'])[0]
new_data['province'] = pd.factorize(new_data['province'])[0]

prediction = clf.predict(new_data)

print("Predicted Fuel Type:", prediction)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create decision tree model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)

In [ ]:
pip install scikit-learn

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Load your dataset into a pandas DataFrame

# Split the dataset into features (X) and target variable (y)
X = df.drop('price', axis=1)
y = df['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Multinomial Naive Bayes model
model = MultinomialNB()

# Train the model
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

In [ ]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)
df['price'] = df['price'].astype(float)

# Split the dataset into features (X) and target variable (y)
X = df.drop('price', axis=1)
y = df['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



# Create a Multinomial Naive Bayes model
model = MultinomialNB()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

data = pd.read_csv('Car_Prices_Poland_Kaggle.csv')
df = pd.DataFrame(data)

# Assuming df is your DataFrame with the provided columns
# You may need to encode categorical variables like 'fuel', 'city', 'province' using LabelEncoder

label_encoder = LabelEncoder()
df['fuel'] = label_encoder.fit_transform(df['fuel'])
df['city'] = label_encoder.fit_transform(df['city'])
df['province'] = label_encoder.fit_transform(df['province'])

# Define features (X) and target variable (y)
features = ['mileage', 'vol_engine', 'fuel', 'city', 'province']
X = df[features]
y = df['generation_name']  # Assuming 'generation_name' is the target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a k-NN classifier
knn_classifier = KNeighborsClassifier(n_neighbors=3)  # You can adjust the number of neighbors (n_neighbors)

# Train the classifier
knn_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn_classifier.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Now you can use the trained model to make predictions on new data
# For example, you can use knn_classifier.predict(new_data) to predict the class for a new set of features.